{% extends "_base.html" %}
{% load static %}

{% block title %}signup{% endblock %}

{% block content %} 
<div class="relative flex flex-col items-center mx-auto lg:flex-row-reverse lg:max-w-5xl lg:mt-12 xl:max-w-6xl ">


    <div class="w-full h-64 lg:w-1/2 lg:h-auto">
        <img class="h-full w-full object-cover" src="https://m.media-amazon.com/images/I/91CjVy6i9aL._AC_SX679_.jpg">
    </div>
    <div
        class="max-w-lg bg-white bg-opacity-75 md:max-w-2xl md:z-10 md:shadow-lg md:absolute md:top-0 md:mt-48 lg:w-3/5 lg:left-0 lg:mt-20 lg:ml-20 xl:mt-24 xl:ml-12 font-itim">
        <div class="flex flex-col p-12 md:px-16">
            <h2 class="text-2xl font-bold uppercase text-sky-900 lg:text-4xl font-itim">unter x hunter</h2>
            <p class="mt-4">
                โเป็นเรื่องราวของตัวเอกของเรื่องอย่างกอร์น ฟรีคส์ เด็กชายอายุ 12 ปี ที่ต้องการออกมาผจญภัยเพื่อสืบตามหาพ่อ จิน ฟรีคส์ 
                ที่เป็นฮันเตอร์มืออาชีพออกเดินทางเพื่อตามหาความฝันและทิ้งลูกชายเอาไว้เบื้องหลังตัวของกอร์นจึงพยายามที่จะเดินตามรอยพ่อของเขา
                เพื่อจะได้เป็นฮันเตอร์และอยากรู้ว่าอาชีพมันดีอย่างไรพ่อของเขาถึงทิ้งเขาไป แต่ในระหว่างการเดินทางสอบฮันเตอร์กอร์นก็พอเจอกับคุราปิก้าและเลโอริโอที่เดินทางมาด้วยเรือลำเดียวกัน
                และกอร์นเองก็ได้ถามคุราปิก้าและเลโอริโอว่าทั้งสองคนทำไมถึงมาสอบเป็นฮันเตอร์โดยที่คุราปิก้าบอกเหตุผลว่าต้องการตามสืบกลุ่มโจรเงามายาที่ได้ฆ่าชีวิตของคนชนเผ่าของเขา 
                และเลโอริโอก็ให้เหตุผลว่าเขาต้องการเงิน  ทั้งสามคนจึงตัดสินใจที่ร่วมเดินทางการไปสอบในครั้งนี้ด้วยกัน
            </p>
        <h2 class="text-lg font-semibold mb-4">Tags:</h2>
        <div class="flex py-4 gap-2 ">
            <a class="bg-blue-200 hover:bg-blue-300 py-1 px-2 rounded-lg text-sm">ดราม่า</a>
            <a class="bg-green-200 hover:bg-green-300 py-1 px-2 rounded-lg text-sm">เหนือธรรมชาติ</a>
            <a class="bg-yellow-200 hover:bg-yellow-300 py-1 px-2 rounded-lg text-sm">ผจญภัย</a>
            <a class="bg-pink-200 hover:bg-pink-300 py-1 px-2 rounded-lg text-sm">แอ็คชั่น</a>
        </div>
        <h2 class="text-lg font-semibold mb-4">streaming:</h2>
    <div class="grid grid-cols-1 md:grid-cols-6 gap-3 p-4 max-w-[400px] md:max-w-[400px] place-items-center">
        <img class="" src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Netflix-new-icon.png">
        <img class="" src="https://play-lh.googleusercontent.com/2TiYCzZE4VAkS6eZYB_YHmnEa92uj9ErgJzFzuounzZ63VTOLzE-c49g1xR1U3PYkZ-Y">
        <img class="" src="https://play-lh.googleusercontent.com/nug7F0n-jWMpAWLaU7Qi1kuTIYjrAtUJmZd5FW4mEyspYR7-zGa-3_fwnYkPgyzHozE3=w600-h800-pc0xffffff-pd">
    </div>
    <form action="/">
        <button class="px-8 py-4 bg-gradient-to-r from-blue-500 to-purple-500 text-white font-bold rounded-full transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
            Back
        </button>
    </form>
    </div>
        </div>
    
    
</div>
{% endblock content %}  